.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 
button {
    margin-left: 10px;
}

form {
    display: flex;
    align-items: center;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding: unset;
    margin: unset;
}