<mat-card class="example-card" routerLink="/city/{{city.id}}" >
    <mat-card-header>
        <div [ngSwitch]="city.weather[0].main" class="icon">
            <i mat-card-avatar *ngSwitchCase="'Clear'">☼</i>
            <i mat-card-avatar *ngSwitchCase="'Clouds'">☁</i>
            <i mat-card-avatar *ngSwitchCase="'Rain'">🌧</i>
            <i mat-card-avatar *ngSwitchCase="'Sun'">☀</i>
            <i mat-card-avatar *ngSwitchCase="'Mist'">🌫</i>
            <i mat-card-avatar *ngSwitchCase="'Fog'">🌫</i>
            <i mat-card-avatar *ngSwitchCase="'Snow'">☃</i>
            <i mat-card-avatar *ngSwitchCase="'Storm'">🌩</i>
        </div>
        <mat-card-title>
            <h1>{{city.name}}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content id="card-content">
        <span>
            Weather Condition: {{city.weather[0].main}}
        </span>
        <div>
            <span> Temperature:</span> <span>&nbsp;</span>
            <span>{{city.main.temp | temp:"cel"}} °C <span>&nbsp;</span> {{city.main.temp | temp:"fahr"}} °F</span>
        </div>
    </mat-card-content>
</mat-card>